.container, .featured-work__container {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

@media screen and (max-width: 499px) {
  .featured-work__item {
    width: 90%;
  }
  .featured-work__link {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 500px) and (max-width: 699px) {
  .featured-work__item {
    width: 80%;
  }
}

@media screen and (max-width: 699px) {
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .nav__item > img {
    display: none;
  }
  .header__menu {
    display: inline-block;
    float: left;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #e0e0e0;
  }
  li:hover {
    cursor: pointer;
  }
  .featured-work {
    padding: 3em;
  }
  .featured-work__item {
    padding-bottom: 2em;
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 100%;
    justify-content: flex-end;
  }
  .header {
    width: 80%;
    position: relative;
    float: right;
  }
  .nav {
    width: 20%;
    order: 0;
  }
  main {
    width: 80%;
    order: 1;
  }
  .featured-work {
    padding: 2em 0;
  }
  .featured-work__item {
    width: calc((100% - 3em)/3);
    margin-right: 1.5em;
  }
  .featured-work__item:last-of-type{
		margin-right: 0;
  }
  .featured-work__caption {
    font-size: 1.5em;
  }
  .featured-work__link {
    font-size: 0.75em;
  }
  .featured-work__item > a > img {
    height: 7em;
  }
}

@media screen and (min-width: 770px) {
  .featured-work__item > a > img {
    height: 7.5em;
  }
  .featured-work__link {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 830px) {
  .featured-work__item > a > img {
    height: 8em;
  }
  .featured-work__link {
    font-size: 0.85em;
  }
}

@media screen and (min-width: 920px) {
  .featured-work__item > a > img {
    height: 9em;
  }
  .featured-work__link {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 950px) {
  .container {
    width: 950px;
    margin-right: auto;
  }
}
